body{
      margin: 0%;
      padding: 0%;
}
nav{
      display: inline-flex;
      margin-left: 1%;
}
nav a{
      padding: 2%;
      width: 100px;
      text-align: center;
      text-decoration: none;
}
nav a:hover{
      background-color: rgb(236, 236, 236);
}
h1{
      margin: 0%;
      padding: 0%;
      float: left;
}
header{
      background-color: rgb(206, 206, 206);
      margin: 0%;
      padding: 1%;
}
.nav-right{
      display: inline-flex;
      float: right;
      margin-right: 2%;
}
.nav-right img{
      margin-top: 2%;
      width: 25px;
      margin-right: 6%;
      padding-left: 10px;
      padding-right: 10px;
}
.nav-right span{
      margin-top: 4%;
      display: block;
      width: 170px;
}
